<h2>Articles</h2>
<ul>
  <% @articles.each do |article| %>
    <% unless article.draft? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= paginate @articles, window: 2 %>
<%= link_to "Создать статью", new_article_path %>