<h1 class="homepage">Список статей</h1>
<div class="articles">
<ol >
  <% @articles.each do |article| %>
    <% unless article.draft? %>
        <li><%= link_to article.title, article %></li>
    <% end %>
  <% end %>
</ol >

</div>
<h2 class="homepage"><%= paginate @articles, window: 2 %></p>