<main class="form-info w-100 m-auto text-center">
  <form>
  	<h1 class="mid">Обо мне</h1><hr>

    
	<span>Имя: Евгений<br>
	Мой GitHub: <a href="https://github.com/Anticvariat">github.com</a></span><hr>

    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>

</main>
</body>