<h1>Home page</h1>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.first_name%> <%= current_user.last_name%>.</span><br>
    <span>Ваша почта: <%= current_user.email%></span>
<% else %>
    <span>Привет Гость!</span><br>
<% end %>
