<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <p>User <%= @user.first_name %> with email <%= @user.email %> sent you a message!</p>
    <p><%= @message %><br>
    </p>
    <p>
      Go to the link to return at your page -> <%= link_to 'Link',@url %>.
    </p>
  </body>
</html>
