@import "bootstrap";

:root {
  --sidebar-color: #111;
  --color: #ffffff;
  --navbar-color: #7fc7ff;
  --article-back: #7fc7ff;
  --black: #000000;
  --grey: grey;
}

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athiti-ExtraLight';
    src: url('Athiti-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'FsSongarak1Regular';
    src: url('FsSongarak1Regular.ttf') format('truetype');
}


.sidebar {
  background-color: var(--sidebar-color);
  margin-top: 80px;
  overflow-x: hidden;
  height: 100%;
  width: 80px;
  z-index: 0;
}

.navb {
  background-color: var(--navbar-color);
}

.dropdown-toggle {
  font-size: 20px;
  font-family: Athiti-ExtraLight, Tahoma, serif;
}

.navbar-image {
  margin-left: 1.2em;
  margin-right: 0.5em;
}

.logo {
  color: var(--color);
  font-family: AlexBrush-Regular, Tahoma, serif;
  font-size: 3em;
  text-shadow: 1.5px 0 1.5px #000, 
  0 1.5px 1.5px #000, 
  -1.5px 0 1.5px #000, 
  0 -1.5px 1.5px #000;
  text-decoration: none;
}

.main-content {
  padding-top: 100px;
  padding-left: 100px;
}

.blog-post {
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
  color: var(--black);
  background: linear-gradient(40deg, var(--navbar-color) 35%, #ddddff);
  border-radius: 25px ;

}

.blog-post-title {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.blog-post-meta {
  text-align: right;
  display: block;
  float: right;
  color: var(--grey);
  font-size: 14px;
}

.article a {
  font-size: 36px;
  color: var(--black);
  font-family: Athiti-ExtraLight, Tahoma, serif;
  text-decoration: none;
}

.pagi a {
  margin-left: 200px;
  font-size: 100px;
  color: var(--black);
  text-decoration: none;
  text-align: center;
}

.mid {
  text-align: center;
}

.fill {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(103%);
    margin-bottom: 2em;
}

.homepage {
  text-align: center;
}

.articles {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.form-signup, .form-signin, .form-edit {
  max-width: 330px;
  padding: 15px;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup, .form-signin, input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup input[type="first_name"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="last_name"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-edit input[type="first_name"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-edit input[type="last_name"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-edit input[type="password"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-edit input[type="password_confirmation"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-edit input[type="current_password"] {
  margin-bottom: 10px;
}

.errors {
  font-size: 1em;
}