@import "bootstrap";

:root {
  --sidebar-color: #111;
  --white: #ffffff;
  --navbar-color: #7fc7ff;
  --article-back: #7fc7ff;
  --articles-back: #b8dffc;
  --black: #000000;
}

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('Onest.ttf') format('truetype');
}

.sidebar {
  background-color: var(--sidebar-color);
  margin-top: 80px;
  overflow-x: hidden;
  height: 100%;
  width: 80px;
}

.navb {
  background-color: var(--navbar-color);
}

.dropdown-toggle {
  font-size: 20px;
  font-family: Onest, Tahoma, serif;
}

.navbar-image {
  margin-left: 1.2em;
  margin-right: 0.5em;
}

.logo {
  color: var(--white);
  font-family: AlexBrush-Regular, Tahoma, serif;
  font-size: 3em;
  text-shadow: 1.5px 0 1.5px #000, 
  0 1.5px 1.5px #000, 
  -1.5px 0 1.5px #000, 
  0 -1.5px 1.5px #000;
  text-decoration: none;
}

.main-content {
  position:absolute;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  padding-left: 80px;

  background: linear-gradient(to left, var(--articles-back) 1%, #ffffff);
}

.articles-background {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -20px;
  border: 0px;
  padding-bottom: 10px;
  background: linear-gradient(to left, var(--articles-back) 1%, #ffffff);
}

.blog-posts-list {
  margin: auto;
  padding: 30px;
  background: linear-gradient(40deg, var(--navbar-color) 35%, #ddddff);
  border-radius: 25px;
  width: 60%;
}

.blog-post-title {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  a {
  font-size: 36px;
  color: var(--black);
  font-family: Onest, Tahoma, serif;
  text-decoration: none;
  word-wrap: break-word;
  }
}

.article-title {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  font-family: Onest, Tahoma, serif;
  word-wrap: break-word;
  width: 30%;
  margin: auto;
  a {
  text-decoration: none;
  color: var(--black);
  }
}

.blog-post {
  margin: auto;
  padding: 30px;
  color: var(--black);
  background: linear-gradient(40deg, var(--navbar-color) 35%, #ddddff);
  border-radius: 25px;
  width: 60%;
  word-wrap: break-word;
}

.blog-post-meta {
  text-align: right;
  display: block;
  float: right;
  color: var(--grey);
  font-size: 14px;
}

.pagination a, span {
  margin-left: 10px;
  color: black;
  padding: 5px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: var(--white);
}

.mid {
  text-align: center;
}

.fill {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(103%);
    margin-bottom: 2em;
}

.articles {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.form-signup, .form-signin, .form-edit, .form-contact, .form-edit-article {
  max-width: 330px;
  padding: 15px;
}

.form-signup, .form-signin, input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup input[type="first_name"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="last_name"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-edit input[type="first_name"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-edit input[type="last_name"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-edit input[type="password"][id="floatingPassword"]{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-edit input[type="password"][id="floatingPasswordConfirm"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-edit input[type="password"][id="floatingPasswordChange"] {
  margin-bottom: 10px;
}

.form-contact input[type="first_name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-contact input[type="email"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-contact textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
  height: 116x;
  resize: none;
}

.form-info {
  max-width: 500px;
  span {
  font-size: 2em;
  font-family: Onest, Tahoma, serif;
  }
}

.form-edit-article input[type="title"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-edit-article textarea {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 116x;
  resize: none;
}

.form-floating select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.notice {
  positiom: absolute;
  left: 50%;
  margin-left: -135px;
  font-family: Onest, Tahoma, serif;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 15px;
  border-radius: 15px;
  width: 350px;
}
