@import "bootstrap";

:root {
  --sidebar-color: #111;
  --color: #ffffff;
  --navbar-color: #e3f2fd;
}

.sidebar {
  background-color: var(--sidebar-color);
  overflow-x: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 80px;
  z-index: 0;
}

.navbar {
  background-color: var(--navbar-color);
  text-align: center;
}

.main-content {
    padding-top: 10px;
    padding-left: 100px;
}

.mid {
  text-align: center;
}