<div class="homepage">
<h1>Мои черновики</h1>

<ol>
  <% @articles.each do |article| %>
  <% if current_user.id == article.user_id %>
    <% unless !article.draft? %>
      <li>
      	<a href="<%= edit_article_path(article) %>">
        <%= article.title %>
      </li>
    <% end %>
        <% end %>
  <% end %>



</ol>
</div>