<div class='sidebar'>
	<nav>
		<ul>
			<p><%= link_to "Статьи", all_articles_path %></p>
			<p><%= link_to "About me", about_me_path%></p>
			<p><%= link_to "Contact me", about_me_contact_me_path %></p>
			<a>Application owner: Evgeny Yurtaev</a>
		</ul>
	</nav>
</div>